*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
form{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.input{
    border-color: transparent;
    width: 300px;padding: 10px 40px;
    font-size: 1rem;
    background:transparent;
    outline: none;
}
.input:focus{
    border-bottom: 1px solid black;
}
button{
    padding: 5px 15px;
    border-radius: 20px;
    background-color: yellow;
    font-size: 1rem;
    font-weight: bold;
    border-color: transparent;
}
::placeholder{
    font-size: 1rem;
}